h1{
font-size: 65px;
}

.container{
  max-width: 1040px;
  margin-top: 75px;
}

.title{
  text-align: left;
  margin-bottom: 40px;
}

.content{
  font-size: 24px;
  opacity: .5;
  text-align: left;
  line-height: 40px;
  max-width: 1100px;
  margin-left: 10px;
}

.divider {
  width: 64px;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
}
