<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="container">
  <div fxFlex fxLayout="column" class="first">
    <div fxFlex class="big-header">
      <h2><span>I'm Patricio Drice</span></h2>
      <h2><span>Welcome to</span></h2>
      <h2><span>My Personal Portfolio</span></h2>
    </div>
    <div fxFlex class="tw"></div>
  </div>
  <div fxFlex fxLayout="column" class="second">

    <div fxFlex class="sub-header">
      <p>
        I have an array of skills from Web Development, Database Management,
        Digital Marketing, and Digital Design. All of that makes me a Full Stack Web Developer. This webpage was created with
        Angular & Angular Material. I specialize in the Angular framework and can adapt to the others.
      </p>
    </div>
    <div fxFlex fxHide.xs fxHide.sm class="button">
      <a href="#projects"><button class="learn-more">Learn More</button></a>
    </div>

    <div fxFlex fxHide.md fxHide.lg fxHide.xl class="button">
      <a href="#projects"><button class="learn-more2">Learn More</button></a>
    </div>

  </div>

</div>
<div class="box">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
