<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="container">
  <div fxFlex fxLayout="column" class="first">
    <div fxFlex class="big-header">
      <h2><span>I'm Patricio Drice</span></h2>
      <h2><span>Welcome to</span></h2>
      <h2><span>My Personal Portfolio</span></h2>
    </div>  
    <div fxFlex fxHide.xs fxHide.sm class="tw"></div>
    <div fxFlex fxHide.md fxHide.lg fxHide.xl class="creds">
      - RHCE, RHCSA, CompTIA Security+ Certified, 
      <br>
      <br>- Completed Google's Cybersecurity Course
      <br>
      <br>- Completed Udacity's Full Stack Web Development Program
    </div>
  </div>
  <div fxFlex fxLayout="column" class="second">

    <div fxFlex class="sub-header">
      <p>
        As a seasoned Full Stack Software Developer and System Integration & Testing Engineer, 
        I excel in creating web applications with the Angular framework and 
        is proficient in Python, Java, Bash, SQL, and JavaScript. 
        My expertise is validated by my Security+, RHCSA, and RHCE certifications, 
        alongside certificates from Google Cybersecurity and Udacity’s Full Stack Web Development program. 
        My technical prowess is complemented by a strong foundation in 
        cybersecurity and system administration, particularly within Red Hat Enterprise Linux environments.
        My expertise with Ansible for automation and configuration underscores my ability to streamline processes and 
        enforce security standards, such as applying Security Technical Implementation Guides (STIGs).
      </p>
    </div>
    <div fxFlex fxHide.xs fxHide.sm class="button">
      <a href="#certifications"><button class="learn-more">Learn More</button></a>
    </div>

    <div fxFlex fxHide.md fxHide.lg fxHide.xl class="button">
      <a href="#certifications"><button class="learn-more2">Learn More</button></a>
    </div>

  </div>

</div>
<div class="box">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
