.container{
  max-width: 1280px;
  margin-top: 75px;

}
h1{
  margin-top: 16px;
  text-align: left;
  font-size: 65px;
}

.list{
  margin:auto
}

.subtext{
  margin-top: 16px;
  text-align: left;
  font-size: 24px;
  line-height: 40px;
  opacity: .5;
  margin-top: 40px;
  margin-left: 10px;
}

.tech-list{
 margin:auto;
 text-align: center;
}

li{
  list-style: none;
}

.tech-container{
margin: auto;
}

.title{
  font-size: 28px;
  line-height: 32px;
  letter-spacing: .02em;
  margin-bottom: 20px;
  font-weight: 500;
}

.content{
opacity: .5;
font-size: 18px;
line-height: 30px;
}

.divider {
  width: 64px;
  height: 6px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
}

