<div
  class="flex-container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign.xs="center center"
  fxLayout.md="row"
  fxLayoutGap="10px"
>
  <div class="logo" fxFlex fxLayoutAlign.xs="left left">
    <mat-icon>language</mat-icon>
    <span>PATRICIO</span>
  </div>

  <div fxFlex="4 1 0" fxHide.xs>
    <div class="projects" fxFlex>
      <a href="#projects">Projects</a>
    </div>
    <div class="technologies" fxFlex>
      <a href="#technologies">Technologies</a>
    </div>
    <div class="about" fxFlex>
      <a href="#about">About</a>
    </div>
    <div class="git" fxFlex>
      <a href="https://github.com/pdrice" target="_blank">
        <img src="./assets/images/icons/GitHub-Mark-Light-32px.png" alt="" />
      </a>
    </div>
  </div>
</div>
<div fxLayout="row" class="divider"></div>
