h2 {
  font-size: 50px;
}

img {
  width: 400px;
  margin:auto;
  margin-bottom: 10px;
}

button{
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
    font-size: 18px;
    color: white;
    width: 50%;
    height: 30px;
}

button:hover{
  background:rgb(148, 93, 214)
}

.visit{
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}


mat-card{
  padding:0;
  margin:0;
  background-color: #0F1624;
}

mat-card-content {
  margin-top: 20px;
  margin:0;
  padding:0;
}

mat-card-title{
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 500;
}

hr{
  width:30%;
  background-color: rgb(148, 93, 214);

}

p{
  width:80%;
  margin: auto;
  color: white;
  margin-bottom: 10px;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0
}

li {
  list-style: none;
}

.cards {
  width: 400px;
  margin-top: 30px;
  text-align: center;

}

.cards-container {
 margin: auto;

}
.skill-title{
  margin-bottom: 20px;
  color:white;
}

.skills{
  color: aqua;
}

.section-title {
  text-align: left;
}

.divider {
  width: 64px;
  height: 6px;
  margin-top: 40px;
  border-radius: 10px;
  background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
}
