/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html, body { height: 100%; background-color: #0F1624; color:white; font-family: 'Space Grotesk', sans-serif;}
body { margin: 0; font-family: 'Space Grotesk', sans-serif; }
